<meta charset="utf-8" />
<!-- Footer -->
<footer id="footer">
	<ul class="icons">
		<li><a href="http://twitter.com/seupedidoonline" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="http://fb.com/seupedidoonline" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
	</ul>

	<ul class="copyright">
		<li>&copy; <a href="/">Seu Pedido Online</a></li><li>contato@seupedido.online</li>
	</ul>
</footer>
<!-- Scripts -->
<script src="@{'public/templatefollow/assets/js/jquery.min.js'}"></script>
<script src="@{'public/templatefollow/assets/js/jquery.dropotron.min.js'}"></script>
<script src="@{'public/templatefollow/assets/js/jquery.scrolly.min.js'}"></script>
<script src="@{'public/templatefollow/assets/js/jquery.scrollgress.min.js'}"></script>
<script src="@{'public/templatefollow/assets/js/skel.min.js'}"></script>
<script src="@{'public/templatefollow/assets/js/util.js'}"></script>
<!--[if lte IE 8]><script src="@{'public/templatefollow/assets/js/ie/respond.min.js'}"></script><![endif]-->
<script src="@{'public/templatefollow/assets/js/main.js'}"></script>
<script type="text/javascript" src="@{'public/javascripts/functionsNews.js'}"></script>
<script type="text/javascript" src="@{'public/jssocials/jssocials.js'}"></script>
    <script>
        $("#share").jsSocials({
            shares: ["facebook", "twitter", "googleplus", "linkedin", "whatsapp"]
        });
    </script>