<input type="text" id="orderCode" name="orderCode" placeholder="Ex.: X012345 * #{error 'orderCode' /}" value="${flash['orderCode']}" style="text-transform: uppercase; width: 205px; font-size: 30px;" /> 
<div id="message2">
	#{list errors, as:'error'}
		<p>&{error.message()}</p>
	#{/list}		
</div>
<div class="contact-but">
	<input id="followOrderCode" type="button" value="Acompanhar" onclick="return followordercode()" />
</div>
<input type="hidden" id="response2" name="response" value="${response}" /> 
<input type="hidden" id="status2" name="status" value="${status}" /> 