<meta charset="utf-8" />
<h2>E MAIS...</h2>
#{list sidebarRightNews, as:'article'}
	<section>
		<a href="/dicas/${article.id}/${article.getFriendlyUrl()}" class="image featured"><img src="@{NewsController.getImage(article.id, '1')}" alt="" /></a>
		<header>
			<h3><strong>&{article.getTitle().raw()}</strong></h3>
		</header>
		<p>&{article.getHeadline().length() > 130 ? article.getHeadline().substring(0, 128).concat("...") : article.getHeadline().raw()}</p>
		<footer>
			<ul class="buttons">
				<li><a href="/dicas/${article.id}/${article.getFriendlyUrl()}" class="button small">Leia mais</a></li>
			</ul>
		</footer>
	</section>
#{/list}
