<meta charset="utf-8" />
<header id="header" style="min-height: 126px; background-attachment: fixed; background-repeat: no-repeat, no-repeat, repeat, no-repeat; background-position: center top; background-size: 236px; background-image: url(/public/images/logo-admin.png);">
	<a href="/">
		<h1 id="logo">&nbsp;</h1>
	</a>
	<nav id="nav">
		<ul style="z-index: 99999999">
			<li class="current"><a href="/">Voltar para Página Inicial</a></li>
			<li class="submenu">
				<a href="#">Navegação</a>
				<ul>
					<li><a href="/">Seu Pedido Online</a></li>
					<li><a href="/dicas">Dicas</a></li>
					<li><a href="/">Contato</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<div style="letter-spacing: 0.075em; position: absolute; left: 1.5em; text-transform: uppercase; top: 0.75em;">
		<blockquote style="border: none; background: transparent url(/public/templatefollow/images/quotes.gif) no-repeat scroll left top;padding-left: 45px;padding-top: 5px;padding-bottom:10px;font-style:italic;">
			<strong>SeuPedido.Online</strong> é um Sistema <br/>
			para Prestadores de Serviço. <br/> 
		</blockquote>
	</div>
</header>
