<meta charset="utf-8" />
<div class="navbar-default sidebar" role="navigation">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
<!-- 			<li class="sidebar-search"> -->
<!-- 				<div class="input-group custom-search-form"> -->
<!-- 					<input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn"> -->
<!-- 						<button class="btn btn-default" type="button"> -->
<!-- 							<i class="fa fa-search"></i> -->
<!-- 						</button> -->
<!-- 					</span> -->
<!-- 				</div> /input-group -->
<!-- 			</li> -->
			<li><a href="@{Admin.index}"><i class="fa fa-home fa-fw"></i> Início</a></li>
			
<!-- 			<li style="display: ${session.get("enableUser") == 'false' ? 'none' : 'block'};"> -->
<!-- 				<a href="#"><i class="fa fa-edit fa-fw"></i> Clientes<span class="fa arrow"></span></a> -->
<!-- 				<ul class="nav nav-second-level"> -->
<!-- 					<li><a href="@{ClientController.list}">Novo Cliente</a></li> -->
<!-- 				</ul> -->
<!-- 			</li> -->

			<li style="display: ${session.get("enableUser") == 'false' ? 'none' : 'block'};">
				<a href="@{ClientController.list}"><i class="fa fa-user-plus fa-fw"></i> 1º Adicionar Novo Cliente</a>
			</li>

			<li style="display: ${session.get("enableUser") == 'false' ? 'none' : 'block'};">
				<a href="@{ServiceController.list}"><i class="fa fa-wrench fa-fw"></i> 2º Adicionar Novo Serviço</a>
			</li>

			<li style="display: ${session.get("enableUser") == 'false' ? 'none' : 'block'};">
				<a href="@{StepController.list}"><i class="fa fa-edit fa-fw"></i> 3º Adicionar Etapas do Serviço</a>
			</li>
			
			<li style="display: ${session.get("enableUser") == 'false' ? 'none' : 'block'};">
				<a href="@{OrderOfServiceController.list}"><i class="fa fa-edit fa-fw"></i> 4º Gerar Código de Serviço</a>
			</li>

			<li style="display: ${session.get("enableUser") == 'false' ? 'none' : 'block'};">
				<a href="@{OrderOfServiceController.updateOrder}"><i class="fa fa-battery-half fa-fw"></i> 5º Atualizar Pedidos</a>
			</li>
			
			<li><a href="@{Secure.logout()}"><i class="fa fa-power-off fa-fw"></i> Sair</a></li>
		</ul>
	</div>
	<!-- /.sidebar-collapse -->
</div>