<meta charset="utf-8" />
<div class="login">
	<form action="/" method="post" id="formMessage">
		<h3>Qual é a sua dúvida?</h3>
		<h4>Aqui você pode também sugerir, criticar ou desabafar...</h4>
		<input type="text" id="name" name="message.name" placeholder="Seu nome * #{error 'message.name' /}" value="${flash['message.name']}" /> 
		
		<input type="text" id="lastName" name="message.lastName" placeholder="Seu sobrenome * #{error 'message.lastName' /}" value="${flash['message.lastName']}" />
		
		<input type="text" id="phone" name="message.phone" placeholder="Telefone (99) 9 9999-9999 * #{error 'message.phone' /}" class="sp_celphones" value="${flash['message.phone']}"  /> 
	
		<input type="text" id="mail" name="message.mail" placeholder="Seu e-mail * #{error 'message.mail' /}" value="${flash['message.mail']}" /> 
		
		<input type="text" id="title" name="message.title" placeholder="Digite o título" value="${flash['message.title']}" />
		
		<textarea id="description" rows="3" placeholder="Insira a mensagem aqui" name="message.description" style="width: 100%;">${flash['message.description']}</textarea>
			
		<div id="message">
			#{list errors, as:'error'}
				<p>&{error.message()}</p>
			#{/list}		
		</div>
		
		<input type="button" value="Enviar" onclick="saveMessage()" />

		<input type="hidden" id="response" name="response" value="${response}" /> 
		<input type="hidden" id="status" name="status" value="${status}" /> 
	</form>
</div>
	<script type="text/javascript">
function saveMessage() {
	if ($('#title').val() == '') {
		$("#message").show();
		$("#message").html('Favor, preencha todos os campos!');
		setTimeout('$("#message").hide()', 5000);
		return;
	} else {
		var formDataJSON = {};
		var formData = $('#formMessage').serializeArray();
		decodeURIComponent(formData);
		$.each(formData, function() {
			if (formDataJSON[this.name] !== undefined) {
				if (!formDataJSON[this.name].push) {
					formDataJSON[this.name] = [ formDataJSON[this.name] ];
				}
				formDataJSON[this.name].push(this.value || '');
			} else {
				formDataJSON[this.name] = this.value || '';
			}
		});
		$('#formMessage').load('/application/savemessage', formDataJSON,
			function(response, status) {
				var status = $("#status").val();
				if ('SUCCESS' === status) {
					$("#message").css("color", "gray");
					$("#message").show();
					$("#message").html($("#response").val());
					$("#saveUser").fadeOut();
					$("#btnLogin").fadeIn();
					setTimeout(function() {
						location.reload(true)
						$('#title').val('');
						$('#description').val('');
					}, 3000);
				} else {
					$("#formMessage").load(location.href+" #formMessage>*","");
					$("#message").css("color", "red");
					$("#message").show();
					$("#message").html($("#response").val());
					setTimeout('$("#message").hide()', 10000);
				}
			});
	}
}
</script>
