<meta charset="utf-8" />
<div class="login">
	<form action="/" method="get" id="formQuickAccount">
		<h3>Criar Nova Conta</h3>
		<input type="text" id="name" name="user.name" placeholder="Seu nome * #{error 'user.name' /}" value="${flash['user.name']}" /> 
		
		<input type="text" id="lastName" name="user.lastName" placeholder="Seu sobrenome * #{error 'user.lastName' /}" value="${flash['user.lastName']}" />
		
		<input type="text" id="phone" name="user.phone1" placeholder="Telefone (99) 9 9999-9999 * #{error 'user.phone1' /}" class="sp_celphones" value="${flash['user.phone1']}"  /> 
	
		<input type="text" id="mail" name="user.email" placeholder="Seu e-mail * #{error 'user.mail' /}" value="${flash['user.email']}" /> 
			
		<input type="password" id="password" name="user.password"  placeholder="Digite uma senha * #{error 'user.password' /}" />
		
		<input type="password" id="repeatPassword" name="user.repeatPassword" placeholder="Digite novamente a senha #{error 'user.repeatPassword' /}" /> 
		
		<div id="message">
			#{list errors, as:'error'}
				<p>&{error.message()}</p>
			#{/list}		
		</div>
		<input id="saveUser" type="button" value="Confirmar" onclick="saveQuickAccount()" />
		<a id="btnLogin" href="/login" class="btn btn-default active" style="display: none">Entrar</a>

		<input type="hidden" id="response" name="response" value="${response}" /> 
		<input type="hidden" id="status" name="status" value="${status}" /> 
	</form>
</div>
