<script type="text/javascript">
	function addOrderService() {
		var newRowContent = "<tr style=\"width: 240px;\">"
				+ "<td><input type=\"text\" style=\"width: 120px\" class=\"title\" value=\"\" placeholder=\"Título da etapa\" onclick=\"this.select()\" /></td>"
				+ "<td><input type=\"text\" style=\"width: 120px\" class=\"description\" value=\"\" placeholder=\"Descrição da etapa\" onclick=\"this.select()\" /></td>"
				+ "<td><input type=\"text\" style=\"width: 60px\" class=\"duration\" value=\"0\" onclick=\"this.select()\" /></td>"
				+ "<td><input type=\"text\" style=\"width: 60px\" class=\"position discount\" value=\"0\" onclick=\"this.select()\" /></td>"
				+ "<td><button id=\"removerItem\" type=\"button\" class=\"btn btn-danger btn-circle\" onclick=\"$(this).closest('tr').remove();setTimeout(function() { resetTable() }, 500); \">"
				+ "<i class=\"fa fa-times\"></i></button></td></tr>";
		$("#stepsTable tbody").append(newRowContent);
		setTimeout(function() {
			resetTable()
		}, 500);
	}

	function resetTable() {
		var inputContent = [];
		var content;
		var obj;
		var i = 0;
		$('#stepsTable tr').each(function() {
			if (i > 0) {
				var row = $(this);
				obj = new Object();
				obj.title = row.find('.title').val();
				obj.description = row.find('.description').val();
				obj.duration = row.find('.duration').val();	
				obj.positition = row.find('.position').val();
				inputContent.push(obj);
			}
			i++;
		});
		JSON.stringify(inputContent);
		$("#steps").val(JSON.stringify(inputContent));
	}
</script>
