<meta charset="utf-8" />
	<div class="page-header" style="margin-top: 5px">
		<h1 id="timeline">Timeline de ${client.name}</h1>
	</div>
	<ul class="timeline">
		#{list items:activities, as:'act'}
			<li class="${act_index % 2 == 0 ? 'timeline-inverted' : ''}">
				<div class="timeline-badge ${act_index % 2 == 0 ? 'warning' : 'info'}">
					<i class="fa fa-${act.type.icon} fa-fw"></i>
				</div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<p>
							<small class="text-muted"><i
								class="glyphicon glyphicon-time"></i> Evento ocorrido no dia ${act.activityDate}</small>
						</p>
						<h3 class="timeline-title">${act.type.label}</h3>
					</div>
					<div class="timeline-body" style="padding: 0 15px 0 15px">
						<h4 class="timeline-title">${act.title}</h4>
						<p>${act.description.raw()}</p>
						#{if act.getImage().exists()}
							<img src="@{ActivitiesCRUD.getImage(act.id)}" alt="${act.title}" title="${act.title}" style="max-width: 100%">
						#{/if}
					</div>
					<br/>
					<p style="text-align: right">
						<small class="text-muted"><i class="glyphicon glyphicon-time"></i> Postado em ${act.postedAtParsed}</small>
					</p>
				</div>
			</li>
		#{/list}
	</ul>