#{extends 'Secure/layout.html' /}
<meta charset="utf-8">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
	            <div class="col-lg-4">
				</div>
	            <div class="col-lg-4">
	                <div class="login-panel panel panel-default" style="opacity: 0.9;">
	                    <div class="panel-heading" style="background-color: #fff">
		                	<a href="@{Application.index}"> 
								<img  class="img-responsive" src="@{Application.getLogo}" style="max-width: 100%; margin: 0 auto;">
							</a>
	                        <h3 class="panel-title">Login</h3>
	                    </div>
	                    <div class="panel-body">
	                    	#{form @authenticate(), method:'POST', role:'form'}
	                            <fieldset>
	                                <div class="form-group">
	                                    <input class="form-control" placeholder="E-mail" name="username" type="email" value="${flash.username}" autofocus>
	                                </div>
	                                <div class="form-group">
	                                    <input class="form-control" placeholder="Senha" name="password" type="password" value="">
	                                </div>
	                                <div class="checkbox">
	                                    <label>
	                                        <input name="remember" type="checkbox" value="Remember Me">Lembrar-me
	                                    </label>
	                                </div>
				                    #{if flash.error}
										<h4 style="text-align: center">Ops!</h4>
										<div class="alert alert-warning" style="margin-left: 16px; margin-right: 16px;">&{flash.error}</div>
									#{/if}
									#{if flash.success}
				                  		<div class="alert alert-success" style="margin-left: 16px; margin-right: 16px;">
											<b>&{flash.success}</b>
				                        </div>
									#{/if}
	                                <button type="submit" class="btn btn-lg btn-success btn-block" style="border-color: #fff" value="&{'secure.signin'}">Entrar</button>
	                                <a class="btn btn-lg btn-default btn-block" href="/novo">Novo Usu&aacute;rio</a>
	                            </fieldset>
                                <div class="form-group">
	                        		<label>
	                        			<a data-toggle="modal" data-target="#modalReset" style="color: gray; font-weight: 100">Esqueci minha senha</a>
	                        		</label>
	                        	</div>
	                        #{/form}
	                        #{include 'Application/modalPass.html' /}
	                    </div>
	            	</div>
				</div>
	            <div class="col-lg-4">
				</div>
			</div>
        		<h1 style="text-align: right; font-family: 'Tahoma' !important; font-size: 2.5em; color: #ccc; font-variant: normal; ">Gere experiências</h1>
 				 <p  style="text-align: right; font-family: 'Tahoma' !important; color: #fff">A melhor técnica de vendas é a que faz o cliente voltar</p>
        </div>
    </div>
