<meta charset="utf-8" />
<div class="form-group">
	<h4>Avisar <strong>&{orderOfService.client.toString()}</strong></h4>
	<textarea class="form-control " id="sms-&{orderOfService.orderCode}">Ola, &{orderOfService.client.name.trim()}. Acompanhe a OS &{orderOfService.orderCode} em: &{parameter.siteDomain}/a?c=&{orderOfService.orderCode}#a. Att., &{institution.institution}.</textarea>
	<label>&{orderOfService.client.mail}, &{orderOfService.client.phone}</label>
</div>
<div class="container" id="formNotifButtons" style="width: 100%">
	<div class="panel-body">
		<h4>Disparar mensagem por:</h4>
		<p>
           	<input class="btn btn-default marginTopBotton" type="button" value="SMS" onclick="sendSMSCustomerNotification(document.getElementById('sms-&{orderOfService.orderCode}').id, document.getElementById('sms-&{orderOfService.orderCode}').value, 'notificationArea');" />
           	<input class="btn btn-default marginTopBotton" type="button" value="Whatsapp" onclick="sendWhatsAppThankful(document.getElementById('sms-&{orderOfService.orderCode}').id, document.getElementById('sms-&{orderOfService.orderCode}').value, 'notificationArea');" />
           	<input class="btn btn-default marginTopBotton" type="button" value="E-mail" onclick="sendEmailNotificationToCustomer(document.getElementById('sms-&{orderOfService.orderCode}').id, document.getElementById('sms-&{orderOfService.orderCode}').value, 'notificationArea');" />
           	<!--  input class="btn btn-default marginTopBotton" type="button" value="Enviar por Notificação Push" onclick="sendPUSHThankful(document.getElementById('sms-&{orderOfService.orderCode}').id, document.getElementById('sms-&{orderOfService.orderCode}').value, 'notificationArea');" /-->
		</p>
	</div>
	<input type="hidden" id="response-sms-&{orderOfService.orderCode}" name="response-sms-&{orderOfService.orderCode}" value="${response}" /> 
	<input type="hidden" id="status-sms-&{orderOfService.orderCode}" name="status-sms-&{orderOfService.orderCode}" value="${status}" />
	<br />
	<div id="message-sms-&{orderOfService.orderCode}"></div>
</div>