#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}
<meta charset="utf-8" />
<div class="col-lg-12">
   	<div class="panel panel-default">
        <div class="panel-heading">
            &{'crud.blank.title', type.modelName}
        </div>
        <div class="panel-body">
           	<div class="row">
               	<div class="col-lg-12">
					#{form id:'form', action:@create(), enctype:'multipart/form-data'}
						#{crud.form}
							#{crud.custom 'isActive'}
								<div class="form-group">
									<div id="message"></div>
								</div>
								<div class="form-group">
				                    <div class="panel panel-default">
				                    	<div class="panel-heading">
				                    		<p style="font-weight: bold;">Insira abaixo os pedidos de oração do visitante.</p>
				                    	</div>
										<div class="panel-body">
											<div class="form-group">
												<button id="addNewStep" type="button" class="btn btn-default" name="btn_adicionar" onclick="newstep()">Adicionar Pedido</button>
											</div>
											#{include 'includes/prayOrderItem.html' /}
										</div>
									</div>
								</div>
								<div class="form-group">
									<label> Ativo </label> 
									<div class="radio">
                                        <label>
											<input type="radio" name="object.isActive" id="optionsRadiosInline1" value="true" ${object.isActive?'checked=checked':''}><span title="&{'info.isActive.true'}">Sim</span>
										</label> 
									</div>
									<div class="radio">
                                        <label>
											<input type="radio" name="object.isActive" id="optionsRadiosInline2" value="false" ${!object.isActive?'checked=checked':''}><span title="&{'info.isActive.false'}">Não</span>
										</label> 
									</div>
								</div>
							#{/crud.custom}
						#{/crud.form}
						<div class="form-group" style="float: left">
							<a href="@{list()}" class="btn btn-default btn-lg">&{'crud.cancel', type.modelName}</a>
							<button type="submit" class="btn btn-primary  btn-lg" name="_save">&{'crud.save', type.modelName}</button>
						</div>
					#{/form}
				</div>
				<script type="text/javascript" src="@{'public/javascripts/scriptPrayOrder.js'}" charset="ISO-8859-1"></script> 
			</div>
		</div>
	</div>
</div>
