<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Acompanhamento de pedido | SeuPedido.online</title>
    
  	<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async='async'></script>
  <script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(["init", {
      appId: "7257d6a5-5298-43ee-b0d5-e2b89cfaab11",
      autoRegister: true, /* Set to true to automatically prompt visitors */
      subdomainName: 'https://seupedido.onesignal.com',   
      httpPermissionRequest: {
        enable: true
      },
      notifyButton: {
          enable: true, /* Required to use the notify button */
          size: 'large', /* One of 'small', 'medium', or 'large' */
          theme: 'default', /* One of 'default' (red-white) or 'inverse" (white-red) */
          position: 'bottom-left', /* Either 'bottom-left' or 'bottom-right' */
          offset: {
              bottom: '0px',
              left: '0px', /* Only applied if bottom-left */
              right: '0px' /* Only applied if bottom-right */
          },
          prenotify: true, /* Show an icon with 1 unread message for first-time site visitors */
          showCredit: false, /* Hide the OneSignal logo */
          text: {
              'tip.state.unsubscribed': 'Clique para receber notificações!',
              'tip.state.subscribed': "Ótimo! Você já está registrado para receber notificações!",
              'tip.state.blocked': "Fique tranquilo! Você não vai receber mais notificações!",
              'message.prenotify': 'Clique para receber notificações!',
              'message.action.subscribed': "Obrigado!",
              'message.action.resubscribed': "Ótimo! Você receberá avisos sobre este pedido!",
              'message.action.unsubscribed': "Fique tranquilo! Você não receberá mais notificações!",
              'dialog.main.title': 'Confirmação de recebimento de notificações',
              'dialog.main.button.subscribe': 'Quero receber!',
              'dialog.main.button.unsubscribe': 'Eu não quero!',
              'dialog.blocked.title': 'Desbloquear notificações',
              'dialog.blocked.message': "Siga as instruções para receber notificações:"
          }
      },
      promptOptions: {
          /* Change bold title, limited to 30 characters */
          siteName: 'Confirmação de recebimento',
          /* Subtitle, limited to 90 characters */
          actionMessage: "Confirme para receber todas as atualizações do seu pedido.",
          /* Example notification title */
          exampleNotificationTitle: 'Este é um exemplo de notificação',
          /* Example notification message */
          exampleNotificationMessage: 'Aqui vai a descrição da notificação...',
          /* Text below example notification, limited to 50 characters */
          exampleNotificationCaption: 'Obs.: Você poderá cancelar em qualquer momento!',
          /* Accept button text, limited to 15 characters */
          acceptButtonText: "EU QUERO! :)",
          /* Cancel button text, limited to 15 characters */
          cancelButtonText: "EU NÃO QUERO!"
      }
    }]);
    var orderCode = document.getElementById("orderCode").value;
    OneSignal.push(function() {
    	OneSignal.sendTags({orderCode: orderCode});
    });
  </script>
    
    <!-- Bootstrap Core CSS -->
    <link href="@{'public/templatebootstrap/bower_components/bootstrap/dist/css/bootstrap.css'}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="@{'public/templatebootstrap/bower_components/metisMenu/dist/metisMenu.min.css'}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="@{'public/templatebootstrap/dist/css/timeline.css'}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="@{'public/templatebootstrap/dist/css/sb-admin-2.css'}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="@{'public/templatebootstrap/bower_components/morrisjs/morris.css'}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="@{'public/templatebootstrap/bower_components/font-awesome/css/font-awesome.min.css'}" rel="stylesheet" type="text/css">
    
    <link href="@{'public/stylesheets/wizardstep.css'}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js'} IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js'} doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'}"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js'}/1.4.2/respond.min.js'}"></script>
    <![endif]-->
</head>
<body>
    <input type="hidden" id="orderCode" value="${orderOfService.orderCode}">
     <script>
         var OneSignal = OneSignal || [];
         var orderCode = document.getElementById("orderCode").value;
         function subscribe() {
         	OneSignal.push(["registerForPushNotifications"]);
         	OneSignal.push(function() {
            	OneSignal.sendTags({orderCode: orderCode});
            });
            event.preventDefault();
         }

         /* This example assumes you've already initialized OneSignal */
         OneSignal.push(function() {
             // If we're on an unsupported browser, do nothing
             if (!OneSignal.isPushNotificationsSupported()) {
                 return;
             }
             OneSignal.isPushNotificationsEnabled(function(isEnabled) {
                 if (isEnabled) {
                     // The user is subscribed to notifications
                     document.getElementById("msg-subscribed").style.display = '';
                 } else {
                     document.getElementById("subscribe-link").addEventListener('click', subscribe);
                     document.getElementById("subscribe-link").style.display = '';
                 }
             });
         });
     </script>
    <div id="wrapper">
        <div id="page-wrapper" style="margin: 0; border: 1px solid #e7e7e7; padding: 0 10px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Olá, <b>${clientName.trim()}</b>! Tudo ok?</h1>
                    <h4>Veja só! Abaixo você acompanha todos os detalhes do seu pedido!</h4>
                    <a id="subscribe-link" class="btn btn-warning" style="display: none;" onclick="this.style.display = 'none'; document.getElementById('msg-subscribed').style.display = 'block'; return false;">Clique e receba avisos sobre este pedido!</a>
                    <h5 id="msg-subscribed" style="display: none; text-align: center">Assim que o pedido for atualizado, você receberá uma notificação!</h5>
                    <h4 style="text-align: right">Código <b>${orderOfService.orderCode}</b></h4>
                    <h5 style="text-align: right"><i>Serviço prestado por </i> <b>${company}</b></h5>
                    <h5 style="text-align: right"><i>Data do pedido </i> <b>${orderOfService.postedAtParsed}</b></h5>
                </div>
            </div>
            <div class="container" style="width: auto; padding: 0;">
				#{list items:mapOrderServiceSteps.keySet(), as:'key'}
					<div class="panel panel-default">
						<div class="panel-heading"> 
							<div class="row">
								<div class="col-lg-12">
									<h4 style="color: #33AFE5; text-align: left">
										<b>${key.getTitle()}</b>
									</h4>
									<h5 style="color: gray; text-align: left">
										<b>${key.getDescription()}</b>
									</h5>
								</div>
							</div>
						</div>
						<div class="panel-body">
							<div class="row bs-wizard" style="margin: 0; border-bottom: 0">
								#{list mapOrderServiceSteps.get(key), as:'orderServiceStep'}
									<div
										class="col-xs-3 bs-wizard-step &{orderServiceStep.status.value == 'inprogress' ? 'active' : orderServiceStep.status.value == 'finished' ? 'complete' : orderServiceStep.status.value == 'notstarted' ? 'disabled' : 'complete'}">
										<div class="text-center bs-wizard-stepnum" style="font-size: 13px; font-weight: bold">Fase ${orderServiceStep_index}</div>
										<div class="progress">
											<div class="progress-bar"></div>
										</div>
										<a href="#" class="bs-wizard-dot"></a>
										<div class="bs-wizard-info text-center">&{orderServiceStep.step.title}</div>
										<div class="bs-wizard-info text-center" style="color: #44545B; color: #44545b; font-size: 0.6em; padding: 0;"><strong>Obs.:</strong> &{orderServiceStep.obs}</div>
									</div>
								#{/list}
							</div>
	                    </div>
	                    <div class="panel-footer">
							Obs. do Pedido: <b>${orderOfService.obs == '' ? 'Nenhuma' : orderOfService.obs}</b>
                        </div>
                    </div>
				#{/list}
			</div>
        </div>
    </div>
    <!-- /#wrapper -->
    
    <!-- jQuery -->
    <script src="@{'public/templatebootstrap/bower_components/jquery/dist/jquery.min.js'}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="@{'public/templatebootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js'}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="@{'public/templatebootstrap/bower_components/metisMenu/dist/metisMenu.min.js'}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="@{'public/templatebootstrap/dist/js/sb-admin-2.js'}"></script>

  	<!-- Flot Charts JavaScript -->
	<script src="@{'/public/templatebootstrap/bower_components/flot/excanvas.min.js'}"></script>
	<script src="@{'/public/templatebootstrap/bower_components/flot/jquery.flot.js'}"></script>
	<script src="@{'/public/templatebootstrap/bower_components/flot/jquery.flot.pie.js'}"></script>
	<script src="@{'/public/templatebootstrap/bower_components/flot/jquery.flot.resize.js'}"></script>
	<script src="@{'/public/templatebootstrap/bower_components/flot/jquery.flot.time.js'}"></script>
	<script src="@{'/public/templatebootstrap/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js'}"></script>
	<script src="@{'/public/templatebootstrap/js/flot-data.js'}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
