<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>

<title>Seu Pedido Online | Acompanhe</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Acompanhamento de Serviços e Marketing Digital | Comunique-se Com Seu Cliente Por Notificações Push, E-mails e SMS">
<meta name="author" content="Acampamento JC 3">
<link rel="apple-touch-icon" sizes="57x57" href="@{'public/images/apple57x57.png'}">
<link rel="apple-touch-icon" sizes="60x60" href="@{'public/images/apple60x60.png'}">
<link rel="apple-touch-icon" sizes="72x72" href="@{'public/images/apple72x72.png'}">
<link rel="apple-touch-icon" sizes="76x76" href="@{'public/images/apple76x76.png'}">
<link rel="apple-touch-icon" sizes="114x114" href="@{'public/images/apple114x114.png'}">
<link rel="apple-touch-icon" sizes="120x120" href="@{'public/images/apple120x120.png'}">
<link rel="apple-touch-icon" sizes="144x144" href="@{'public/images/apple144x144.png'}">
<link rel="apple-touch-icon" sizes="152x152" href="@{'public/images/apple152x152.png'}">
<link rel="icon" type="image/png" href="@{'public/images/favicon16x16.png'}" sizes="16x16">
<link rel="icon" type="image/png" href="@{'public/images/favicon32x32.png'}" sizes="32x32">
<link rel="icon" type="image/png" href="@{'public/images/favicon96x96.png'}" sizes="96x96">
<link rel="icon" type="image/png" href="@{'public/images/favicon160x160.png'}" sizes="160x160">
<link rel="icon" type="image/png" href="@{'public/images/favicon196x196.png'}" sizes="196x196">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="@{'public/images/logo-admin.png'}">
<meta name="keywords" content="acompanhamento de servico, acompanhamento de pedido, marketing digital, pedidos, orcamentos, ordem de servico">
<meta property="twitter:card" content="Acompanhamento de Serviços e Marketing Digital">
<meta property="twitter:site" content="www.seupedido.online">
<meta property="twitter:title" content="Seu Pedido Online | Acompanhe">
<meta property="twitter:description" content="Acompanhamento de Serviços e Marketing Digital | Comunique-se Com Seu Cliente Por Notificações Push, E-mails e SMS">
<meta property="og:title" content="Seu Pedido Online | Acompanhe">
<meta property="og:description" content="Acompanhamento de Serviços e Marketing Digital | Comunique-se Com Seu Cliente Por Notificações Push, E-mails e SMS">
<meta property="og:site_name" content="Seu Pedido Online">
<meta property="og:image" content="@{'public/images/logo-admin.png'}">
<link rel="shortcut icon" type="image/png" href="@{'public/images/favicon16x16.png'}" />
<script type="application/x-javascript">
	 addEventListener("load", function() { setTimeout(, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<link href="@{'public/templatepublic/css/bootstrap.css'}" rel='stylesheet' type='text/css' />
<link href="@{'public/templatepublic/css/style.css'}" rel='stylesheet' type='text/css' />
<script src="@{'public/templatepublic/js/jquery-1.11.0.min.js'}"></script>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="@{'public/templatepublic/js/move-top.js'}"></script>
<script type="text/javascript" src="@{'public/templatepublic/js/easing.js'}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop : $(this.hash).offset().top
			}, 1000);
		});
	});
</script>

<!--start-smoth-scrolling-->
</head>
<body>
	<!--start-banner-->
	<div style=""></div>
	<div class="banner" id="home">
		<div class="container">
			<div class="header">
				<div class="logo">
					<a href="@{Application.index}"><img src="@{'public/templatepublic/images/logo-small.png'}" alt="Seu Pedido Online - Acompanhamento de Serviços e Marketing Digital"
						title="Seu Pedido Online - Acompanhamento de Serviços e Marketing Digital"></a>
				</div>
				<div class="navigation">
					<span class="menu"></span>
					<ul class="navig">
						<li><a href="#about" class="scroll">COMO FUNCIONA?</a></li>
						<li><a href="#features" class="scroll">SERVE PRA MIM?</a></li>
						<li><a class="popup-with-zoom-anim active" href="#small-dialog" onclick="$('#formQuickAccount').trigger('reset');">CRIE UMA CONTA</a></li>
						<li><a class="popup-with-zoom-anim" href="#small-dialog1" onclick="$('#formMessage').load(location.href+' #formMessage>*','');">TENHO DÚVIDAS</a></li>
						<li><a href="/login">ENTRAR</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="banner-btm">
				<div id="top" class="callbacks_container">
					<ul class="rslides" id="slider4">
						<li>
							<div class="banner-bottom">
								<h1>
									TRABALHE ENQUANTO O CLIENTE <br /> AGUARDA PACIENTEMENTE
								</h1>
								<p>Gere um Código de Acompanhamento</p>
							</div>
						</li>
						<li>
							<div class="banner-bottom">
								<h1>
									COMUNIQUE POR NOTIFICAÇÕES <br /> PUSH, E-MAIL OU SMS
								</h1>
								<p> Houve Imprevisto? Ou, Já Pode Buscar?</p>
							</div>
						</li>
						<li>
							<div class="banner-bottom">
								<h1>
									CONTROLE PEDIDOS, SERVIÇOS <br />E FATURAMENTO
								</h1>
								<p>Organize o Seu Negócio</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- script-for-menu -->
	<script>
		$("span.menu").click(function() {
			$(" ul.navig").slideToggle("slow", function() {
			});
		});
	</script>
	<!-- script-for-menu -->
	<!--Slider-Starts-Here-->
	<script src="@{'public/templatepublic/js/responsiveslides.min.js'}"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function() {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto : true,
				pager : true,
				nav : true,
				speed : 500,
				namespace : "callbacks",
				before : function() {
					$('.events').append("<li>before event fired.</li>");
				},
				after : function() {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<!--End-slider-script-->
	<!--end-banner-->
	<!--start-account-->
	<div class="account">
		<div class="container">
			<div class="account-main">
					<div class="col-xs-6 account-right" style="width: 50%">
						<a class="play-icon popup-with-zoom-anim" href="#small-dialog" onclick="$('#formQuickAccount').trigger('reset');"><span> </span>CADASTRAR-SE</a>
					</div>
					<div class="col-xs-6 account-right" style="width: 50%">
						<a class="play-icon" href="#follow"><span> </span>ACOMPANHAR</a>
					</div>
				<div class="clearfix">
			</div>
		</div>
	</div>
	</div>
	<!--start-about-->
	<div class="about" id="about">
		<div class="container">
			<div class="about-main">
				<img src="@{'public/templatepublic/images/spl.png'}" alt="" />
				<h2 style="color: #666666">Este é um Sistema de Acompanhamento de Serviços.</h2>
				<h3>
					É Útil e <b>Descomplicado</b>.
				</h3>
				<h2>
					Permite que Seu Cliente <b>Acompanhe</b> o que Está em Andamento.
				</h2>
				<h3>Veja Como:</h3>
			</div>
			<div class="about-bottom" style="margin: 0;">
				<div class="abt">
					<div class="col-md-4 about-left active">
						<div class="abt-one">
							<div class="abt-left">
								<span class="flr"> </span>
							</div>
							<div class="abt-right">
								<h4>#1 Ordem de Serviço</h4>
								<p>Ao Criar uma Ordem de Serviço a um Cliente</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-md-4 about-left">
						<div class="abt-one">
							<div class="abt-left">
								<span class="ard active"> </span>
							</div>
							<div class="abt-right">
								<h4>#2 Código</h4>
								<p>Ele Receberá um Código de Acompanhamento</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-md-4 about-left">
						<div class="abt-one">
							<div class="abt-left">
								<span class="flg active"> </span>
							</div>
							<div class="abt-right">
								<h4>#3 Atualização</h4>
								<p>Você Atualizará o Andamento e Ele Acompanhará Por Aqui</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="special" id="features">
		<div class="container">
			<div class="special-top">
				<div class="col-md-12">
				<div class="col-md-4 spl-left">
					<div class="spl-one">
						<span class="hnd"></span>
						<h4>Controle de</h4>
						<p>Pedidos</p>
					</div>
				</div>
				<div class="col-md-4 spl-left">
					<div class="spl-one">
						<span class="wtp"> </span>
						<h4>Boa</h4>
						<p>Comunicação</p>
					</div>
				</div>
				<div class="col-md-4 spl-left">
					<div class="spl-one">
						<span class="sml"></span>
						<h4>Cliente</h4>
						<p>Satisfeito</p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			</div>
			<div class="special-bottom" id="products">
				<img src="@{'public/templatepublic/images/spl.png'}" alt="">
				<h2>
					<b>Você presta algum serviço?</b>
				</h2>
				<h3 style="color: gray; margin: 0; font-weight: normal">
					Então este Sistema <b>Pode Te Ajudar</b> Muito!
				</h3>
			</div>
			<div class="special-btm">
				<div class="portfolio-top">
					<ul id="filters" class="clearfix">
						<li style="margin: 5px;"><span class="filter">ASSISTÊNCIA TÉCNICA</span></li>
						<li style="margin: 5px;"><span class="filter">ENCOMENDAS</span></li>
						<li style="margin: 5px;"><span class="filter">SERVIÇOS ARTESANAIS</span></li>
						<li style="margin: 5px;"><span class="filter">ENTREGAS DE PIZZAS, SANDUÍCHES</span></li>
						<li style="margin: 5px;"><span class="filter">CLÍNICAS</span></li>
						<li style="margin: 5px;"><span class="filter">CONSULTÓRIOS</span></li>
						<li style="margin: 5px;"><span class="filter">OFICINAS</span></li>
						<li style="margin: 5px;"><span class="filter">EMISSÃO DE PROCESSOS</span></li>
						<li style="margin: 5px;"><span class="filter">TRANSPORTE</span></li>
					</ul>
				</div>
				<div class="special-bottom" id="products">
					<h3 style="color: gray; margin: 0; font-weight: normal">
						<a href="#home">Quero Criar uma Conta!</a>
					</h3>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!--end-about-->
	<link rel="stylesheet" href="@{'public/templatepublic/css/swipebox.css'}">
	<script src="@{'public/templatepublic/js/jquery.swipebox.min.js'}"></script>
	<script type="text/javascript">
		jQuery(function($) {
			$(".swipebox").swipebox();
		});
	</script>
	<!-- Portfolio Ends Here -->
	<script type="text/javascript" src="@{'public/templatepublic/js/jquery.mixitup.min.js'}"></script>
	<script type="text/javascript">
		$(function() {

			var filterList = {

				init : function() {

					// MixItUp plugin
					// http://mixitup.io
					$('#portfoliolist').mixitup({
						targetSelector : '.portfolio',
						filterSelector : '.filter',
						effects : [ 'fade' ],
						easing : 'snap',
						// call the hover effect
						onMixEnd : filterList.hoverEffect()
					});

				},

				hoverEffect : function() {

					// Simple parallax effect
					$('#portfoliolist .portfolio').hover(function() {
						$(this).find('.label').stop().animate({
							bottom : 0
						}, 200, 'easeOutQuad');
						$(this).find('img').stop().animate({
							top : -30
						}, 500, 'easeOutQuad');
					}, function() {
						$(this).find('.label').stop().animate({
							bottom : -40
						}, 200, 'easeInQuad');
						$(this).find('img').stop().animate({
							top : 0
						}, 300, 'easeOutQuad');
					});

				}

			};

			// Run the show!
			filterList.init();

		});
	</script>

	<!---pop-up-box---->
	<script type="text/javascript" src="@{'public/templatepublic/js/modernizr.custom.min.js'}"></script>
	<link href="@{'public/templatepublic/css/popup-box.css'}" rel="stylesheet" type="text/css" media="all" />
	<script src="@{'public/templatepublic/js/jquery.magnific-popup.js'}" type="text/javascript"></script>
	<!---//pop-up-box---->
	<div id="small-dialog" class="mfp-hide">#{include 'includes/newQuickAccount.html' /}</div>
	<div id="small-dialog1" class="mfp-hide">#{include 'includes/newQuickContact.html' /}</div>
	<script>
		$(document).ready(function() {
			$('.popup-with-zoom-anim').magnificPopup({
				type : 'inline',
				fixedContentPos : false,
				fixedBgPos : true,
				overflowY : 'auto',
				closeBtnInside : true,
				preloader : false,
				midClick : true,
				removalDelay : 300,
				mainClass : 'my-mfp-zoom-in'
			});

		});
	</script>
	<!--End-pop-up-box-->
	<!--start-contact-->
	<div class="contact" id="follow">
		<div class="container">
			<div class="contact-top">
				<img src="@{'public/templatepublic/images/abt-1.png'}" alt="" />
				<h2>Acompanhe o seu pedido</h2>
				<h3 style="color: gray; margin: 0; font-weight: normal">Você tem o código aí? Insira abaixo:</h3>
			</div>
			<div class="contact-bottom">
				<form action="/" method="get" id="formFollow">
					<input type="text" id="orderCode" name="orderCode" placeholder="Ex.: X012345 * #{error 'orderCode' /}" value="${flash['orderCode']}"
						style="text-transform: uppercase; width: 205px; font-size: 30px;" />
					<div id="message">
						#{list errors, as:'error'}
						<p>&{error.message()}</p>
						#{/list}
					</div>
					<div class="contact-but">
						<input id="followOrderCode" type="button" value="Acompanhar" onclick="return followordercode()" />
					</div>
					<input type="hidden" id="response" name="response" value="${response}" /> <input type="hidden" id="status" name="status" value="${status}" />
				</form>
			</div>
		</div>
	</div>
	<!--end-contact-->
	<!--start-footer-->
	#{include 'includes/footerPublic.html' /}
	<!--end-footer-->
	<script type="text/javascript" src="@{'public/javascripts/jquery.mask.min.js'}"></script>
	<script type="text/javascript">
		$(function() {
			$('.age').mask('00');
			$('.date').mask('00/00/0000');
			$('.time').mask('00:00:00');
			$('.date_time').mask('00/00/0000 00:00:00');
			$('.cep').mask('00000-000');
			$('.phone').mask('0000-0000');
			$('.phone_with_ddd').mask('(00) 0000-0000');
			$('.phone9_with_ddd').mask('(00) 00000-0000');
			$('.phone_us').mask('(000) 000-0000');
			$('.mixed').mask('AAA 000-S0S');
			$('.ip_address').mask('099.099.099.099');
			$('.percent').mask('##0,00%', {
				reverse : true
			});
			$('.clear-if-not-match').mask("00/00/0000", {
				clearIfNotMatch : true
			});
			$('.placeholder').mask("00/00/0000", {
				placeholder : "__/__/____"
			});
			$('.fallback').mask("00r00r0000", {
				translation : {
					'r' : {
						pattern : /[\/]/,
						fallback : '/'
					},
					placeholder : "__/__/____"
				}
			});

			$('.selectonfocus').mask("00/00/0000", {
				selectOnFocus : true
			});

			$('.cep_with_callback')
					.mask(
							'00000-000',
							{
								onComplete : function(cep) {
									console.log('Mask is done!:', cep);
								},
								onKeyPress : function(cep, event, currentField,
										options) {
									console.log('An key was pressed!:', cep,
											' event: ', event,
											'currentField: ', currentField
													.attr('class'),
											' options: ', options);
								},
								onInvalid : function(val, e, field, invalid,
										options) {
									var error = invalid[0];
									console.log("Digit: ", error.v,
											" is invalid for the position: ",
											error.p,
											". We expect something like: ",
											error.e);
								}
							});

			$('.crazy_cep').mask('00000-000', {
				onKeyPress : function(cep, e, field, options) {
					var masks = [ '00000-000', '0-00-00-00' ];
					mask = (cep.length > 7) ? masks[1] : masks[0];
					$('.crazy_cep').mask(mask, options);
				}
			});

			$('.cpf').mask('000.000.000-00', {
				reverse : true
			});
			$('.money').mask('#.##0,00', {
				reverse : true
			});

			var SPMaskBehavior = function(val) {
				return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000'
						: '(00) 0000-00009';
			}, spOptions = {
				onKeyPress : function(val, e, field, options) {
					field.mask(SPMaskBehavior.apply({}, arguments), options);
				}
			};

			$('.sp_celphones').mask(SPMaskBehavior, spOptions);

			$(".bt-mask-it").click(function() {
				$(".mask-on-div").mask("000.000.000-00");
				$(".mask-on-div").fadeOut(500).fadeIn(500)
			})

			$('pre').each(function(i, e) {
				hljs.highlightBlock(e)
			});
		});
	</script>
	<script type="text/javascript" src="@{'public/javascripts/functions.js'}"></script>
</body>
</html>