<!DOCTYPE HTML>
<html>
	<head>
		<title>Sistema Para Acompanhamento de Pedidos e Serviços | Seu Pedido Online </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Acompanhamento de Serviços e Marketing Digital | Comunique-se Com Seu Cliente Por Notificações Push, E-mails e SMS">
		<meta name="author" content="Seu Pedido Online">
		<meta name="keywords" content="acompanhamento de serviços, acompanhamento de pedido, contrato prestação de serviços, marketing digital, serviço, pedidos, orcamentos, ordem de servico">
		<meta charset="utf-8" />
		#{include 'includes/headerTemplateFollow.html' /}
		<script type="text/javascript">
		</script>
	</head>
	<body class="index">
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWMNHWH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1 id="logo"><a href="/">Acompanhamento <span>de Pedidos e Serviços</span></a></h1>
					<nav id="nav">
						<ul>
							<li><a href="#main">Serve pra mim?</a></li>
							<li class="current"><a href="/novo">Nova conta</a></li>
							<li><a href="/acompanhe">Acompanhar</a></li>
							<li><a href="/contato">Contato</a></li>
 							<li><a href="/login" class="button special">Entrar</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">

				<div class="inner" style="background: rgba(224, 240, 226, 0.5); padding: 2em;">
					<div>
						<a href="@{Application.index}"><img src="@{'public/templatepublic/images/logo-small.png'}" alt="Seu Pedido Online - Acompanhamento de Pedidos e Serviços"
							title="Seu Pedido Online - Acompanhamento de Pedidos e Serviços"></a>
					</div>
					
					<header>
						<h2>SEU CLIENTE PACIENTE</h2>
					</header>
					
					<p><strong>USE.</strong> É GRATUITO.</p>
					
					<footer>
						<ul class="buttons vertical">
							<li><a href="#main" class="button fit scrolly scroll">QUERO CONHECER</a></li>
						</ul>
					</footer>
				</div>

				</section>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-quote-left"></span>
						<h2>SEU CLIENTE NÃO PRECISA <strong>FICAR TE LIGANDO</strong> 
						<br />
						PRA SABER SE O SERVIÇO ESTÁ PRONTO
						</h2>
						<p>O <strong>SeuPedido.Online</strong> permite que você trabalhe enquanto seu cliente <strong>aguarda</strong> pacientemente.</p>
						<p>Você gera um <strong>código de acompanhamento</strong> e ele(a) fica por dentro do que está acontecendo em tempo real.</p>
						<p>Você também pode controlar pedidos, serviços e faturamento.</p>
					</header>
							
					<!-- One -->
						<section class="wrapper style2 container special-alt">
							<div class="row 50%">
								<div class="8u 12u(narrower)">

									<header>
										<h2>
											<strong>
												ASSISTÊNCIAS TÉCNICAS, 
												CONFEITARIAS, 
												CENTROS AUTOMOTIVOS, 
												ENCOMENDAS, 
												SERVIÇOS ARTESANAIS, 
												ENTREGAS, 
												CLÍNICAS, 
												CONSULTÓRIOS, 
												OFICINAS, 
												EMISSÃO DE PROCESSOS, 
												TRANSPORTES
											</strong>
										</h2>
									</header>
									<p>Não se encaixou nessa lista? Deixe seu contato para gente te ajudar a transformar seus clientes em fãs. :)</p>
									<footer>
										<ul class="buttons">
											<li><a href="#features" class="button fit scrolly scroll">Quero saber mais</a></li>
										</ul>
									</footer>
									
								</div>
								
								<div class="4u 12u(narrower) important(narrower)">

									<ul class="featured-icons">
										<li><span class="icon fa-clock-o"><span class="label">Feature 1</span></span></li>
										<li><span class="icon fa-volume-up"><span class="label">Feature 2</span></span></li>
										<li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
										<li><span class="icon fa-inbox"><span class="label">Feature 4</span></span></li>
										<li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
										<li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>
									</ul>

								</div>
								
							</div>
						</section>

					<!-- Two -->
						<section id="howitworks"  class="wrapper style1 container special">
							<header class="special container">
								<span class="icon fa-question-circle-o"></span>
								<h2>COMO FUNCIONA?</H2> 
							</header>
							<div class="row">
								<div class="4u 12u(narrower)">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3><strong>#1</strong> Ordem de Serviço</h3>
										</header>
										<p>Seu cliente chega até você e solicita um serviço. Você o cadastra no sistema e gera uma Ordem de Serviço.</p>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3><strong>#2</strong> Acompanhamento</h3>
										</header>
										<p>O código da Ordem de Serviço é o código de acompanhamento. Você pode entregar o layout da OS impresso ou pode enviar por e-mail ou SMS.</p>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3><strong>#3</strong> Atualização</h3>
										</header>
										<p>Você - ou alguém designado por você - atualizará o andamento dos serviços e ele acompanhará por <a href="/acompanhe" target="_blank" title="Clique para ver a área de acompanhamento">aqui</a>.</p>
									</section>

								</div>
							</div>
						</section>
						
						<section class="wrapper style4 special container" id="features">
							<div class="account" style="background-color: #fff; padding-bottom: 50px; padding-top: 0">
								<div class="special-bottom" id="products" style="margin: 10px">
									<h2 style="margin:0;">
										Você presta algum serviço?
									</h2>
									<h3 style="margin:0;">SE SIM,</h3>
									<h3 style="color: gray; margin: 0; font-weight: normal">
										este Sistema <b>Pode Te Ajudar</b>!
									</h3>
								</div>
							</div>
							<footer id="mailListTop">
								#{include 'includes/formNewsletterTop.html' /}
							</footer>
						</section>
						
						<section class="wrapper style2 container special-alt" style="padding: 0;">
							<iframe width="100%" height="768" src="https://www.youtube.com/embed/t_1MPoLMe4Y?rel=0&version=3&autoplay=1&controls=0&showinfo=1&loop=1" frameborder="0" allowfullscreen ></iframe>
						</section>

					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2 style="text-transform: uppercase; color: #333333; font-size: 1.7em; font-weight: 900; margin: 0;">DICAS DE TECNOLOGIA <span style="color: #00CCFF;">#TMFTQS</span></h2>
								<h4 style="text-transform: uppercase; color: #ccc; font-size: 1.2em; font-weight: 900; margin: 0;"><span style="color: #00CCFF;">T</span>odo <span style="color: #00CCFF;">M</span>undo <span style="color: #00CCFF;">F</span>alando, <span style="color: #00CCFF;">T</span>ambém <span style="color: #00CCFF;">Q</span>uero <span style="color: #00CCFF;">S</span>aber</h4>
							</header>

							<div class="row">
								#{list listArticles12, as:'article'}
									<div class="6u 12u(narrower)">
										<section>
											<a href="/dicas/${article.id}/${article.getFriendlyUrl()}" class="image featured"><img src="@{NewsController.getImage(article.id, '1')}" alt="" /></a>
											<header>
												<h3>&{article.getTitle().raw()}</h3>
											</header>
											<p>&{article.getHeadline().length() > 130 ? article.getHeadline().substring(0, 128).concat("...") : article.getHeadline().raw()}</p>
										</section>
										<footer>
											<ul class="buttons">
												<li><a href="/dicas/${article.id}/${article.getFriendlyUrl()}" target="_blank" class="button small" style="color: #ccc">Leia mais</a></li>
											</ul>
										</footer>
									</div>
								#{/list}
							</div>

							<div class="row">
								#{list listArticles34, as:'article'}
									<div class="6u 12u(narrower)">
										<section>
											<a href="/dicas/${article.id}/${article.getFriendlyUrl()}" class="image featured"><img src="@{NewsController.getImage(article.id, '1')}" alt="" /></a>
											<header>
												<h3>&{article.getTitle().raw()}</h3>
											</header>
											<p>&{article.getHeadline().length() > 130 ? article.getHeadline().substring(0, 128).concat("...") : article.getHeadline().raw()}</p>
										</section>
										<footer>
											<ul class="buttons">
												<li><a href="/dicas/${article.id}/${article.getFriendlyUrl()}" target="_blank" class="button small" style="color: #ccc">Leia mais</a></li>
											</ul>
										</footer>
									</div>
								#{/list}
							</div>

							<footer class="major">
								<ul class="buttons">
									<li><a href="/dicas" target="_blank" class="button">Todas as dicas</a></li>
									<li><a href="/novo" target="_blank" class="button">Nova conta</a></li>
								</ul>
							</footer>

						</section>

				</article>

			<!-- CTA -->
				<section id="cta">

					<header>
						<h2>Pronto para <strong>inovar</strong>?</h2>
						<p>Deixe a tecnologia agilizar a comunicação com o seu cliente.</p>
					</header>
					<footer>
						<div id="mailListBottom">
							#{include 'includes/formNewsletterBottom.html' /}
						</div>
					</footer>

				</section>

			<!-- Footer -->
			#{include 'includes/footerTemplateFollow.html' /}
		</div>
		<script type="text/javascript" src="@{'public/javascripts/functions.js'}"></script>
		<script type="text/javascript" src="@{'public/javascripts/jquery.mask.min.js'}"></script>
		<script type="text/javascript">
			$(function() {
		
				var SPMaskBehavior = function(val) {
					return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000'
							: '(00) 0000-00009';
				}, spOptions = {
					onKeyPress : function(val, e, field, options) {
						field.mask(SPMaskBehavior.apply({}, arguments), options);
					}
				};
		
				$('.sp_celphones').mask(SPMaskBehavior, spOptions);
		
				$(".bt-mask-it").click(function() {
					$(".mask-on-div").mask("000.000.000-00");
					$(".mask-on-div").fadeOut(500).fadeIn(500)
				})
		
				$('pre').each(function(i, e) {
					hljs.highlightBlock(e)
				});
			});
		</script>
	</body>
</html>