<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
   	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-WWMNHWH');</script>
	<!-- End Google Tag Manager -->
	<title>Pesquisa de Solução - &{parameter.getSiteTitle()}</title>
	<meta name="robots" content="noindex,nofollow">
	<meta http-equiv="content-type" content="text/html; charset=utf-8; IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Pesquisa">
	<meta name="author" content="&{parameter.getSiteTitle()}">
	<meta name="description" content="&{parameter.getSiteDescription()}">
	<meta property="twitter:title" content="&{parameter.getSiteTitle()}">
	<meta property="twitter:description" content="&{parameter.getSiteDescription()}">
	<meta property="og:title" content="&{parameter.getSiteTitle()}">
	<meta property="og:description" content="&{parameter.getSiteDescription()} | &{parameter.getSiteTitle()}">
	<meta property="og:image" content="&{parameter.getSiteDomain()}/logo">
	
	<link rel="apple-touch-icon" sizes="57x57" href="&{parameter.getSiteDomain()}/logo">
	<link rel="apple-touch-icon" sizes="60x60" href="&{parameter.getSiteDomain()}/logo">
	<link rel="apple-touch-icon" sizes="72x72" href="&{parameter.getSiteDomain()}/logo">
	<link rel="apple-touch-icon" sizes="76x76" href="&{parameter.getSiteDomain()}/logo">
	<link rel="apple-touch-icon" sizes="114x114" href="&{parameter.getSiteDomain()}/logo">
	<link rel="apple-touch-icon" sizes="120x120" href="&{parameter.getSiteDomain()}/logo">
	<link rel="apple-touch-icon" sizes="144x144" href="&{parameter.getSiteDomain()}/logo">
	<link rel="apple-touch-icon" sizes="152x152" href="&{parameter.getSiteDomain()}/logo">
	<link rel="icon" type="image/png" href="&{parameter.getSiteDomain()}/logo" sizes="16x16">
	<link rel="icon" type="image/png" href="&{parameter.getSiteDomain()}/logo" sizes="32x32">
	<link rel="icon" type="image/png" href="&{parameter.getSiteDomain()}/logo" sizes="96x96">
	<link rel="icon" type="image/png" href="&{parameter.getSiteDomain()}/logo" sizes="160x160">
	<link rel="icon" type="image/png" href="&{parameter.getSiteDomain()}/logo" sizes="196x196">
	<meta name="msapplication-TileColor" content="#000000">
	<meta name="msapplication-TileImage" content="&{parameter.getSiteDomain()}/logo">
	<meta property="twitter:card" content="&{parameter.getSiteTitle()}" />
	<meta property="twitter:site" content="&{parameter.getSiteDomain()}" />
		
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="pt_BR" />
	<meta property="og:site_name" content="&{parameter.getSiteName()}" />
	<meta property="og:url" content="&{parameter.getSiteDomain()}" />
	
	<link rel="shortcut icon" type="image/png" href="&{parameter.getSiteDomain()}/icon" />
    
    <!-- Bootstrap Core CSS -->
    <link href="@{'public/templatebootstrap/bower_components/bootstrap/dist/css/bootstrap.css'}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="@{'public/templatebootstrap/bower_components/metisMenu/dist/metisMenu.min.css'}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="@{'public/templatebootstrap/dist/css/timeline.css'}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="@{'public/templatebootstrap/dist/css/sb-admin-2.css'}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="@{'public/templatebootstrap/bower_components/font-awesome/css/font-awesome.min.css'}" rel="stylesheet" type="text/css">
    
    <link href="@{'public/stylesheets/wizardstep.css'}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js'} IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js'} doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'}"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js'}/1.4.2/respond.min.js'}"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
    	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="background-color: #fff;">
         	<a href="@{Application.index}"> 
				<img  src="@{Application.getLogo}" style="width: 13em; padding-top: 1em;">
			</a>
			<ul class="nav navbar-top-links navbar-right">
			<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-plane fa-fw"></i> <i class="fa fa-caret-down"></i>
			</a>
				<ul class="dropdown-menu dropdown-user">
					<li ><a href="/"><b><i>Pós-vendas Matadores (Reveja)</i></b></a></li>
					<li class="divider"></li>
					<li ><a href="/"><i class="fa fa-pencil fa-fw"></i> A História da Caneta</a></li>
					<li class="divider"></li>
					<li ><a href="/artigos"><i class="fa fa-paw fa-fw"></i> A História da Cadelinha
					</a></li>
				</ul> <!-- /.dropdown-user --></li>
			</ul>
    	</nav>
		<div class="container">
			<div id="page-wrapper" style="margin: 0; border: 1px solid #e7e7e7; padding: 0 10px;">
	            <div class="row">
	                <div class="col-lg-12">
	                    <h3 class="page-header" style="text-align: center;">Gratidão por ter chegado até aqui.</h3>
	                    <h4 style="text-align: center;">&{mailList.name}, sua opinião é muito importante e fundamental para o produto que estou prestes a lançar.</h4>
	                    <h5 style="text-align: center;">São apenas 6 tópicos.</h5>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-lg-12">
	                    <div class="panel panel-default">
	                        <div class="panel-heading">
	                            <h4>Pesquisa de Opinião</h4>
	                        </div>
	                        <div class="panel-body">
	                        	#{form @sendAnswer(), enctype:'multipart/form-data'}
                                    <input type="hidden" name="object.leadSearchQuestion" value="${question}">
                                    <input type="hidden" name="object.mailList" value="${mailList.mail}">
		                            <div class="panel-group" id="accordion">
	                                    <label style="color: red">${message}</label>
		                                <div class="panel panel-default">
		                                    <div class="panel-heading">
		                                        <h4 class="panel-title">
		                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >#1 Sobre você</a>
		                                        </h4>
		                                    </div>
		                                    <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
		                                        <div class="panel-body">
		                                        	<div class="row">
		                                        		<div class="col-lg-6">
				                                            <div class="form-group">
					                                            <label>Idade</label>
					                                            <select id="object_age" name="object.age" class="form-control">
					                                                <option>Entre 18 e 24 anos</option>
					                                                <option>Entre 25 e 34 anos</option>
					                                                <option>Entre 35 e 44 anos</option>
					                                                <option>Entre 45 e 54 anos</option>
					                                                <option>Entre 55 e 64 anos</option>
					                                                <option>Entre 55 e 64 anos</option>
					                                                <option>Acima de 65 anos</option>
					                                            </select> 
					                                        </div>
			
				                                            <div class="form-group">
					                                            <label>Sexo</label>
					                                            <select id="object_gender" name="object.gender" class="form-control">
					                                                <option>Masculino</option>
					                                                <option>Feminino</option>
					                                            </select> 
					                                        </div>
			
				                                            <div class="form-group">
					                                            <label>Profissão</label>
					                                            <input id="object_profession" name="object.profession" type="text" class="form-control" value="${leadSearchAnswer.profession}"> 
					                                        </div>
			
				                                            <div class="form-group">
					                                            <label>Negócio em que trabalha</label>
					                                            <input id="object_business" name="object.business" type="text" class="form-control" value="${leadSearchAnswer.business}"> 
					                                        </div>
		                                       		 	</div>
		                                       		</div>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="panel panel-default">
		                                    <div class="panel-heading">
		                                        <h4 class="panel-title">
		                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">#2 ${question.question1}</a>
		                                        </h4>
		                                    </div>
		                                    <div id="collapseTwo" class="panel-collapse collapse">
		                                        <div class="panel-body">
		                                            <div class="form-group">
		                                            	#{if question.commentQuestion1}
			                                            	<label>${question.commentQuestion1}</label>
			                                            #{/if}
			                                            <textarea id="object_answer1" name="object.answer1" class="form-control" rows="3">${leadSearchAnswer.answer1}</textarea>
			                                        </div>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="panel panel-default">
		                                    <div class="panel-heading">
		                                        <h4 class="panel-title">
		                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">#3 ${question.question2}</a>
		                                        </h4>
		                                    </div>
		                                    <div id="collapseThree" class="panel-collapse collapse">
		                                       <div class="panel-body">
		                                            <div class="form-group">
		                                            	#{if question.commentQuestion2}
			                                            	<label>${question.commentQuestion2}</label>
			                                            #{/if}
			                                            <textarea id="object_answer2" name="object.answer2" class="form-control" rows="3">${leadSearchAnswer.answer2}</textarea>
			                                        </div>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="panel panel-default">
		                                    <div class="panel-heading">
		                                        <h4 class="panel-title">
		                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">#4 ${question.question3}</a>
		                                        </h4>
		                                    </div>
		                                    <div id="collapseFour" class="panel-collapse collapse">
		                                        <div class="panel-body">
		                                            <div class="form-group">
			                                            #{if question.commentQuestion3}
			                                            	<label>${question.commentQuestion3}</label>
			                                            #{/if}
			                                            <textarea id="object_answer3" name="object.answer3" class="form-control" rows="3">${leadSearchAnswer.answer3}</textarea>
			                                        </div>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="panel panel-default">
		                                    <div class="panel-heading">
		                                        <h4 class="panel-title">
		                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">#5 ${question.question4}</a>
		                                        </h4>
		                                    </div>
		                                    <div id="collapseFive" class="panel-collapse collapse">
		                                       <div class="panel-body">
		                                            <div class="form-group">
		                                            	#{if question.commentQuestion4}
			                                            	<label>${question.commentQuestion4}</label>
			                                            #{/if}
			                                            <textarea id="object_answer4" name="object.answer4" class="form-control" rows="3">${leadSearchAnswer.answer4}</textarea>
			                                        </div>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="panel panel-default">
		                                    <div class="panel-heading">
		                                        <h4 class="panel-title">
		                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">#6 ${question.question5}</a>
		                                        </h4>
		                                    </div>
		                                    <div id="collapseSix" class="panel-collapse collapse">
		                                       <div class="panel-body">
		                                            <div class="form-group">
		                                           		 #{if question.commentQuestion5}
			                                            	<label>${question.commentQuestion1}</label>
			                                            #{/if}
			                                            <textarea id="object_answer5" name="object.answer5" class="form-control" rows="3">${leadSearchAnswer.answer5}</textarea>
			                                        </div>
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                            <div class="form-group" style="float: left">
										<input type="submit" class="btn btn-primary  btn-lg" value="Enviar" />
									</div>
								#{/}
	                        </div>
	                    </div>
	                </div>
            	</div>	
	        </div>
	    </div>
    </div>
    
    <!-- jQuery -->
    <script src="@{'public/templatebootstrap/bower_components/jquery/dist/jquery.min.js'}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="@{'public/templatebootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js'}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="@{'public/templatebootstrap/bower_components/metisMenu/dist/metisMenu.min.js'}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="@{'public/templatebootstrap/dist/js/sb-admin-2.js'}"></script>
    
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-91777562-1', 'auto');
	  ga('send', 'pageview');
	</script>

</body>
</html>
