<!DOCTYPE HTML>
<html>
	<head>
		<title>Muito Obrigado | Seu Pedido Online</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="@{'public/templatefollow/assets/js/ie/html5shiv.js'}"></script><![endif]-->
		<link rel="stylesheet" href="@{'public/templatefollow/assets/css/main.css'}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="@{'public/templatefollow/assets/css/ie8.css'}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="@{'public/templatefollow/assets/css/ie9.css'}" /><![endif]-->
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo">Uma breve <span>mensagem</span> pra você</a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="/">Voltar para Página Inicial</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-hand-o-down"></span>
						<h2><strong>Gratidão</strong></h2>
					</header>

					<!-- One -->
						<section class="wrapper style4 container" style="padding-bottom: 0;">

							<iframe width="560" height="315" src="https://www.youtube.com/embed/seSl-h6WMD8?rel=0&autoplay=1" frameborder="0" allowfullscreen style="width: 100%;"></iframe>

								<h3 style="font-weight: bold; text-align: center; margin-bottom: 0px;">#TMFTQS</h3>
								<p style="text-align: center; margin-bottom: 0px;"><strong>T</strong>odo <strong>M</strong>undo <strong>F</strong>alando, <strong>T</strong>ambém <strong>Q</strong>uero <strong>S</strong>aber</p>
								<p style="text-align: center; margin-bottom: 0px;">Confira abaixo</p>
						</section>

					<!-- Two -->
						<section class="wrapper style1 container special"> 
							<div class="row">
								<div class="4u 12u(narrower)">

									<section>
										<header>
											<h3 style="font-weight: bold;">O que são Notificações Push?</h3>
										</header>
										<p>Talvez você não saiba do que se trata e garanto que mesmo não sabendo o que são, é bem provável que você tem contato com elas todos os dias.</p>
										<footer>
											<ul class="buttons">
												<li><a href="#" class="button small">Leia mais</a></li>
											</ul>
										</footer>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<header>
											<h3 style="font-weight: bold;">Guardar arquivos importantes em HDs Externos ou Pendrives é uma opção segura?</h3>
										</header>
										<p>Muita gente já se conscientizou que manter arquivos importantes no próprio computador é um grande risco, mas optam por guardar em CDs, DVDs e HDs externos. Nesta matéria eu te dou minha opinião sobre o que é mais seguro fazer com aqueles arquivos que você não quer e não pode perder.</p>
										<footer>
											<ul class="buttons">
												<li><a href="#" class="button small">Leia mais</a></li>
											</ul>
										</footer>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<header>
											<h3 style="font-weight: bold;">Precisa comprar um computador melhor, mas não sabe escolher? Eu posso te ajudar nesta escolha!</h3>
										</header>
										<p>Há aqueles que compram computador pela marca e ignoram, dentre outros quesitos importantes, a quantidade de memória RAM e a potência do processador. Ou, compram seduzidos pelo preço do fim da liquidação e acabam sofrendo durante anos com um computador cada vez mais lerdo. De forma bem simples, aprenda, de uma vez por todas, a fazer uma boa compra - gastando pouco e com um produto de qualidade.</p>
										<footer>
											<ul class="buttons">
												<li><a href="#" class="button small">Learn More</a></li>
											</ul>
										</footer>
									</section>

								</div>
							</div>
						</section>

				</article>

			<!-- Footer -->
				<footer id="footer">

					<ul class="icons">
						<li><a href="http://twitter.com/seupedidoonline" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="http://fb.com/seupedidoonline" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
					</ul>

					<ul class="copyright">
						<li>&copy; <a href="/">Seu Pedido Online</a></li><li>contato@seupedido.online</li>
					</ul>

				</footer>

		</div>

		<!-- Scripts -->
			<script src="@{'public/templatefollow/assets/js/jquery.min.js'}"></script>
			<script src="@{'public/templatefollow/assets/js/jquery.dropotron.min.js'}"></script>
			<script src="@{'public/templatefollow/assets/js/jquery.scrolly.min.js'}"></script>
			<script src="@{'public/templatefollow/assets/js/jquery.scrollgress.min.js'}"></script>
			<script src="@{'public/templatefollow/assets/js/skel.min.js'}"></script>
			<script src="@{'public/templatefollow/assets/js/util.js'}"></script>
			<!--[if lte IE 8]><script src="@{'public/templatefollow/assets/js/ie/respond.min.js'}"></script><![endif]-->
			<script src="@{'public/templatefollow/assets/js/main.js'}"></script>
			
	</body>
</html>