<!DOCTYPE HTML>
<html>
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','&{parameter.getGoogleTagManagerId()}');</script>
		<!-- End Google Tag Manager -->
		<title>Muito Obrigado | &{parameter.getSiteTitle()}</title>
		<meta name="robots" content="noindex,nofollow">
		<meta charset="utf-8" />
		#{include 'includes/headerTemplateFollow.html' /}
	</head>
	<body class="no-sidebar">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=&{parameter.getGoogleTagManagerId()}"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<div id="page-wrapper">

			<!-- Header -->
				#{include 'includes/menuTemplateFollow.html' /}

			<!-- Main -->
				<article id="main" style="background-color: &{parameter.getSiteBackGroundColor() == null ? 'gray' : parameter.getSiteBackGroundColor()}">

					<header class="special container">
						<span class="icon fa-hand-o-down"></span>
						<h2><strong>Gratidão</strong></h2>
						<h3>Uma breve mensagem pra você</h3>
							<iframe width="560" height="315" src="&{parameter.getEmbedThankLead()}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</header>

				</article>
			#{include 'includes/footerTemplateFollow.html' /}
		</div>
	</body>
</html>